extends layout

block content
  h1= title
  p Hey there! To use Puut, you have to install the Desktop-Client and connect it with this instance.
  p For your convenience, here's a list of images you uploaded to this Puut-instance: 
  ul
    each image in images
      li
        a(href=image.hashid + '.png')
          img(src='thumb/' + image.hashid + '.png')
  if page > 1
    a(href='?page=' + previousPage) Previous Page
  if page < totalPages
    a(href='?page=' + nextPage) Next Page