doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    meta(name='viewport', content='width=device-width')
  body
    block content
    script(src='javascripts/foundation.min.js')
    script
        $(document).foundation();