doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/dropzone.css')
    meta(name='viewport', content='width=device-width')
    script(src='http://codeorigin.jquery.com/jquery-1.10.2.min.js')
    script(src='javascripts/dropzone.min.js')
    script(src='javascripts/foundation.min.js')
    script(src='javascripts/ZeroClipboard.min.js')
    
  body
    block content
    script.
        $(document).foundation();